@import url('https://fonts.cdnfonts.com/css/upheaval');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sen&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url(../images/seamlessbackgroundDark.png);
}

.header_container > div > a {
    text-decoration: none;
    color: #f0f0f0;
}

.header_container > div {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.header_links {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.header_links > a {
    transition: 0.25s;
}

.header_links > a:hover {
    color: #4F709C;
}

h1 {
    margin: 5px 0 10px 0;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

.header_container {
    display: flex;
    justify-content: space-between;
    background: #213555;
    color:#F0F0F0;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    font-size: 2em;
    position: fixed;
    width: 100%;
    height: 81px;
}

header {
    top: 0;
    width: 100%;
    z-index: 2000;
    background: #fff;
    height: 81px;
    filter: drop-shadow(0 0 0.5rem black);
}

.main_slider_container {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

.main_slider_container:after {
    padding-top: 36.45%;
    display: block;
    content: '';
}

.text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    width: 70%;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    font-size: 8em;
    text-align: center;
    color: #f0f0f0;
    filter: drop-shadow(0 0 1rem black);
    cursor: default;
}

.categories_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories_main {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 90%;
    padding: 90px 0;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    font-size: 3em;
    color: #f0f0f0;
    width: 360px;
    height: 480px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.25s;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0 0 0.5rem black);
}

.category > h3 {
    filter: drop-shadow(0 0 0.5rem black);;
}

#twod--design {
    background-image: url(../images/markcoverdark.png);
    background-size: cover;
}

#threed--design {
    background-image: url(../images/fender3dark.png);
    background-position: 80%;
}

#music {
    background-image: url(../images/musicdark.png);
}

.category:hover {
    transform: scale(1.1);
}

footer {
    height: 100px;
    background-color: #213555;
    width: 100%;
    display: flex;
    z-index: 1000;
    bottom: 0;
}

.footer_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer_container > div {
    display: flex;
    align-items: center;
}

.footer_item {
    display: flex;
    align-items: center;
    text-align: center;
}

.footer_logo{
    height: 35px;
    width: 35px;
    margin-right: 15px;
}

.footer_item > a {
    text-decoration: none;
    color: white;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    align-items: center;
    display: flex;
}

#linkedin {
    background: url(../images/linkedinwhite.png);
    background-size: contain;
}

#soundcloud {
    background: url(../images/soundcloudwhite.png);
    background-size: contain;
}

#artstation {
    background: url(../images/artstationwhite.png);
    background-size: contain;
}

#behance {
    background: url(../images/behancewhite.png);
    background-size: contain;
}

#github {
    background: url(../images/githublogo.png);
    background-size: contain;
}
/* TWOD */

.twod_description {
    height: 400px;
    background: url(../images/seamless2.png);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    font-family: 'Upheaval TT (BRK)', sans-serif;
}

.twod_description > span {
    width: 70%;
    filter: drop-shadow(0 0 1rem white);
}

.twod_container {
    background: url(../images/seamlessbackgroundDark.png);
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-row-gap: 100px;
    justify-content: space-around;
    width: 100%;
    align-self: center;
    padding: 90px 0;
    filter: drop-shadow(0 0 0.5rem black);
}

.twod_item {
    cursor: pointer;
    transition: 0.4s;
    filter: drop-shadow(0 0 0.5rem black);
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.twod_item > img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.twod_item:hover {
    transform: scale(1.05);
}

/* MUSIC */

.musiclist {
    background: url(../images/seamlessbackgroundDark.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    filter: drop-shadow(0 0 0.5rem black);
    width: 100%;
}

.musiclist_item {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    filter: drop-shadow(0 0 0.5rem black);
}

.musiclist_item > span {
    background-color: #24242b;
    color: white;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
}

audio {
    width: 100%;
}

/* item */

.item_description {
    height: 400px;
    background-color: #4F709C;
    padding-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.item_showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.item_showcase_images {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-evenly;
}

.item_showcase_images > img, video {
    object-fit: contain;
    max-width: 90%;
    margin: 45px 0;
    max-height: 850px;
    filter: drop-shadow(0 0 0.5rem black);
}

.item_showcase_description {
    position: fixed;
    right: 0;
    top: 0;
    background: url(../images/seamless2.png);
    height: 100vh;
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    filter: drop-shadow(0 0 0.5rem black);
}

.item_showcase_description > span {
    width: 85%;
    color: white;
    background-color: black;
    padding: 15px 30px;
    filter: drop-shadow(0 0 0.5rem white);
}

.item_showcase_description_mobile {
    visibility: hidden;
    position: absolute;
}

@media screen and (max-width: 1500px) {
    h2 {
        font-size: 6em;
    }

    .category {
        width: 320px;
        height: 420px;
        font-size: 2.5em;
    }

    .header_links {
        width: 35%;
    }

    .item_showcase_description {
        visibility: hidden;
        position: absolute;
    }

    .item_showcase_description_mobile {
        visibility: visible;
        position: relative;
        color: white;
        height: 400px;
        font-family: 'Montserrat', sans-serif;
        background: url(../images/seamless2.png);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item_showcase_description_mobile > span {
        background-color: black;
        width: 80%;
        padding: 15px 30px;
        font-size: 1.6em;
    }

    .item_showcase {
        flex-direction: column;
    }
}

@media screen and (max-width: 1350px) {
    .twod_container {
        grid-template-columns: 400px 400px;
    }

    .twod_description {
        font-size: 1.8em;
    }

    .categories_main {
        flex-direction: column;
        padding: 30px 0;
    }

    .category {
        width: 100%;
        margin: 20px 0;
    }

    .category:hover {
        transform: scale(1.03);
    }

    .category > h3 {
        font-size: 3em;
    }
}

@media screen and (max-width: 1200px) {
    .text > h2 {
        font-size: 4em;
    }
}

@media screen and (max-width: 950px) {
    .header_links {
        width: 60%;
    }

    .twod_container {
        grid-template-columns: 300px 300px;
    }

    .twod_description {
        font-size: 1.6em;
    }

    .twod_item {
        width: 300px;
        height: 300px;
    }

    .twod_item > img {
        width: 300px;
        height: 300px;
    }

    .footer_item > a {
        margin: 0;
    }

    .footer_item > a:nth-child(even) {
        visibility: hidden;
        position: absolute;
    }
}

@media screen and (max-width: 750px) {
    .header_container {
        justify-content: space-around;
    }

    .header_container > div {
        margin: 0;
    }

    .text > h2 {
        font-size: 2em;
    }

    .category > h3 {
        font-size: 1em;
    }

    .twod_container {
        padding: 40px 0;
    }

    .twod_description {
        font-size: 1.1em;
    }

    .twod_container {
        grid-template-columns: 160px 160px;
        grid-row-gap: 40px;
    }

    .twod_item {
        width: 160px;
        height: 160px;
    }

    .twod_item > img {
        width: 160px;
        height: 160px;
    }

    .item_showcase_images > img, video {
        margin: 20px 0;
    }

    .item_showcase_description_mobile > span {
        font-size: 1.1em;
    }
}